# Byte-compiled / cached files
__pycache__/
*.py[cod]
*$py.class

# Testing
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE / Editor
.idea/
.vscode/

# OS
.DS_Store
